@model NavyPqs.Ui.Models.SailorViewModel

@{
    ViewData["Title"] = "Edit";
    var editSailor = Convert.ToBoolean(ViewData["EditSailor"]);
    var editSections = !editSailor;
}
<style>
    ul {
        list-style-type: disc;
        -webkit-columns: 5;
        -moz-columns: 5;
        list-style-position: inside;
        list-style-type: none;
    }
</style>

<h1>Edit</h1>

<h4>SailorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @if (editSailor)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Rank" class="control-label"></label>
                    <input asp-for="Rank" class="form-control" />
                    <span asp-validation-for="Rank" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            }
            @if (editSections)
            {
                @for (int i = 0; i < Model.Pqses.Count; i++)
                {
                    <h4>@Html.DisplayFor(model => model.Pqses[i].Pqs) @Html.DisplayFor(model => model.Pqses[i].Version)</h4>
                    <hr />
                    <p>@Html.DisplayFor(model => model.Pqses[i].LongName) @Html.DisplayFor(model => model.Pqses[i].Date)</p>
                    <br />
                    @for (int j = 0; j < Model.Pqses[i].Sections.Count; j++)
                    {
                        <div>
                            <dl class="w3-container w3-clear w3-cell">
                                <dd>
                                    @Html.DisplayFor(model => model.Pqses[i].Sections[j].Number) -
                                    @Html.DisplayFor(model => model.Pqses[i].Sections[j].Name)
                                </dd>
                            </dl>
                        </div>
                        <ul>
                            @for (int k = 0; k < Model.Pqses[i].Sections[j].LineItem.Length; k++)
                            {
                                <li>

                                    @Html.CheckBoxFor(model => model.Pqses[i].Sections[j].Signed[k])
                                    @Html.DisplayFor(model => model.Pqses[i].Sections[j].LineItem[k])
                                </li>
                            }
                        </ul>
                    }
                }
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
